.icon-left {
  position: absolute;
  left: 10px;
  top: 10px;
}
.icon-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.season-display.summer i {
  color: crimson;
}
.season-display.winter i {
  color: darkblue;
}
.season-display {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summer {
  background-color: coral;
}
.winter {
  background-color: cornflowerblue;
}
